.removable-input {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.delete-icon {
		cursor: pointer;
		margin-left: 5px;
		scale: 0.75;
		fill: #828fa3;
		padding: 5px;
		&:hover {
			fill: var(--red);
		}
	}
}
