[data-theme="dark"] {
	--main-bg-color: var(--very-dark-grey);
	--secondary-bg-color: var(--dark-grey);
	--text-color: var(--white);
	--lines-color: var(--lines-dark);
	--label-color: var(--white);
	--btn-color: var(--white);
	--new-column-bg-color: #23242f;
	--settings-bg-color: var(--main-bg-color);
}

[data-theme="light"] {
	--main-bg-color: var(--light-grey);
	--secondary-bg-color: var(--white);
	--text-color: var(--black);
	--lines-color: var(--lines-light);
	--label-color: var(--medium-grey);
	--btn-color: rgb(99, 95, 199, 10%);
	--new-column-bg-color: #e9effa;
	--settings-bg-color: var(--white);
}
