.btn-subtask {
	background-color: var(--main-bg-color);
	border-radius: 4px;
	display: flex;
	padding: 10px;
	cursor: pointer;
	border: none;
	color: inherit;
	position: relative;
	display: flex;
	align-items: center;
	font-family: inherit;
	text-align: start;
	overflow: hidden;

	&:hover {
		background: hsl(242, 48%, 58%, 25%);
	}

	&.checked {
		text-decoration: line-through;
		color: var(--medium-grey);
	}
}
