header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-bg-color);
	box-sizing: border-box;
	height: 64px;
	padding: 10px 20px;
	width: 100%;
	position: fixed;
	top: 0;
	border-bottom: 1px transparent solid;
	z-index: 1;

	.header__content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		position: relative;

		.header__logout {
			fill: var(--secondary-text-color);
			cursor: pointer;
			&:hover {
				fill: var(--secondary-text-color-hover);
			}
		}

		.btn-add-task {
			background-color: var(--purple);
			border: none;
			border-radius: 24px;
			width: 48px;
			height: 32px;
			cursor: pointer;
			align-items: center;
			justify-content: center;
			gap: 5px;
			color: var(--white);
			font-family: "Plus Jakarta Sans";
			font-weight: bold;

			&:hover {
				background-color: var(--purple-hover);
			}
			h3 {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 1224px) {
	header {
		border-bottom: 1px var(--lines-color) solid;

		.logo {
			display: none;
		}

		.header__content {
			.btn-add-task {
				display: flex;
				width: 154px;
				height: 45px;
				align-items: center;

				h3 {
					display: inline-block;
					font-size: 14px;
				}
			}
		}
	}
}
