.btn__logout {
	background: none;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;

	&:focus-visible {
		outline: 2.5px solid var(--purple);
		border-radius: 5px;
	}
}
