.settings {
	&.task-settings .btn-toggle__icon {
		scale: 0.85;
	}

	.btn-toggle {
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 5px;
		cursor: pointer;

		&:disabled {
			opacity: 0.3;
			pointer-events: none;
		}
		&:focus-visible {
			outline: 2.5px solid var(--purple);
			border-radius: 3px;
		}

		.btn-toggle__icon {
			pointer-events: none;
			fill: var(--secondary-text-color);
		}

		&:hover .btn-toggle__icon {
			fill: var(--secondary-text-color-hover);
		}
	}

	.item-settings {
		top: 120%;
	}
}
